@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Guacamole MVC is a POC of an ASP.NET MVC front-end for the <a href="http://guac-dev.org/" target="_blank">Guacamole</a> project, using <a href="http://signalr.net/" target="_blank">SignalR</a> as the communication layer.</p>
